#cat-index{
  h2{
    margin-bottom: 20px;
  }
  .name-type{
    display: flex;
    align-items: baseline;
    h6{
      margin-left: 10px;
    }
  }
  div.row{
    display: flex;
    justify-content: center;
    margin-top: 45px;
  }
  img#hero{
    height: 200px;
    width:200px;
    object-fit: cover;
    border-radius: 6px;
  }
  .buttons{
    display: flex;
    align-items: center;
  }
}
