
#home{
  h1 {
    font-size: 104px;
    font-weight: 400;
    font-family: 'Monoton', cursive;
    text-transform: capitalize;
    .ginger{
      @extend h1;

      color: rgb(234, 169, 117);
    }
    .white{
      @extend h1;

      color: rgb(225, 215, 200);
    }
    .black{
      @extend h1;

      color: rgb(29, 35, 34);
    }
  }
  .one{
    position: absolute;
    background-color: transparent;
    right: -222px;
    top: 118px;
    z-index: 1;
    color: rgb(225, 215, 200);
    text-shadow: 4px 0px 7px rgba(150, 150, 144, 1);
  }

  .two{
    position: absolute;
    z-index: 2;
    right: -220px;
    top:120px;
    color: rgb(234, 169, 117);
  }

  .three{
    position: absolute;
    z-index: 3;
    color: rgb(29, 35, 34);
    right: -219px;
    top:122px;
  }

  .d-block.img-fluid{
    height: 72vh;
  }
  a.carousel-control-prev-icon  {
    background-image: none;
    margin: 0;
  }
  a.carousel-control-nex-icon{
    @extend .carousel-control-prev-icon;
  }
  li {background-color: transparent;}
  .top{
    height: 8vh
  }
  .middle{
    height: 72vh;
  }
  .bottom{
    @extend .top;
  }
  #home-info{
    position: relative;
  }
}
