nav#cat-mad-navbar.navbar{
  h1 {
    font-size: 30px;
    font-weight: 400;
    font-family: 'Monoton', cursive;
    .ginger{
      @extend h1;

      color: rgb(234, 169, 117);
    }
    .white{
      @extend h1;

      color: rgb(225, 215, 200);
    }
    .black{
      @extend h1;

      color: rgb(29, 35, 34);
    }
  }
  .one{
    position: absolute;
    background-color: transparent;
    left: 39px;
    top: 6px;
    z-index: 1;
    color: rgb(225, 215, 200);
  }

  .two{
    position: absolute;
    z-index: 2;
    left: 40px;
    top:7px;
    color: rgb(234, 169, 117);
  }

  .three{
    position: absolute;
    z-index: 3;
    color: rgb(29, 35, 34);
    left: 41px;
    top:8px;
  }
  padding: 10px 30px;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px lightGray solid;
  box-shadow: 4px 0px 7px rgba(150, 150, 144, 1);
  .navbar-brand{
    position: relative;

  }
  img{
    height: 25px;
    width: 25px;
    margin-right: 20px
  }
  .nav-link{
    color: rgba(150, 150, 144, 1);
    font-size: 20px;
    font-weight: bolder;
    padding-right: 40px;
    &:hover {
      color: lighten( rgba(150, 150, 144, 1), 15%);
    }
    &:active {
      color: rgb(234, 169, 117);
    }
  }
}
