#profile{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  .col.col-md-2{
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .buttons{
      display: inline-block;
    }
  }
  img.profile-image{
    height: 140px;
    width: 140px;
    object-fit: cover;
    border-radius: 50%;
  }
  #profile-cats{
    margin-top: -32px;

    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    img{
      height: 50vh;
      object-fit: cover;
      border-radius: 5px;
    }
  }

  #cat-hero-col{
    overflow: scroll;
    height: 80vh;
  }

  .google-map{
    height:50vh;
    width: 100%;
    border-radius: 5px;
    border: lightGray 1px solid;
  }
}
