#cat-show{
  .show-row{
    display: flex;
    justify-content: space-around;
    .hero-col{
      #hero{
        width:100%;
        height: auto;
      }
    }
  }
  .round-image{
    border-radius: 50%;
    height: 100px;
    width: 100px;
  }
}
