@import "drag-drop";
@import "cat-show";
@import "cat-index";
@import "profile";

img{
  width: 100%;
  height: auto;
}
.btn{
  border: 2px solid gray;
  margin: 5px 0;
}
.round-image{
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
