@import "variables";
@import "drag-drop";
@import "navbar";
@import "cat-show";
@import "cat-index";
@import "conversations-index";
@import "conversations-show";
@import "profile";
@import "buttons";
@import "forms";
@import "home";
@import "no-route";

*{
  font-family: 'Lato', sans-serif;
}
img{
  width: 100%;
}
.round-image{
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

h2{
  margin-top: 15px;
  font-weight: bolder;
}
